/* .navbar{
    background-color: rgb(224, 139, 173);
    display: flex;
    justify-content: space-evenly;
  
    
}

a{
    text-decoration: none;
    color: rgb(200, 73, 73);
  
}

li{
    list-style-type: none;

    background-color: rgb(254, 254, 254)   ;
    
}

.outer{
    height: 400px;
    width: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 100px;
    width: 100px;
    background-color: magenta;

} */

div{

    height: 50px;
    width: 50px;

    background-color: pink;
}

@media (max-width:300px){
    div{
        background-color: rgb(105, 223, 98);
    }
}

@media (min-width:300px) and (max-width:400px){
    div{
        background-color: pink;
    }
}

@media (min-width:400px) and (max-width:600px){
    div{
        background-color: red;
    }
}

@media (min-width:600px){
    div{
        background-color: rgb(56, 97, 233);
    }
}


