h1{
    font-weight: 700;
    font-size: 40px;
    margin:10px;
    margin-bottom: 20px;
}



input{
    width: 100%;
}

.items-container{
    text-align: left;
}

.kg-row{
    margin:10px 5px;
}

.kg-button{
    min-width: 80px;
}

html,body{
    height: 100%;
    width: 100%;
   font-family: 'Roboto', sans-serif;  
   background: linear-gradient(45deg,#e96060,#7fa2d2);
   
}